*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .8);
}

body {
    margin: 0;
}

.board {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid #fff;
    background: #3b5b6c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.cell.circle,
.cell.cross {
    cursor: not-allowed;
}

.board.cross .cell:not(.cross):not(.circle):hover::after,
.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.circle .cell:not(.cross):not(.circle):hover::before{
    opacity: .5;
}

.cell.cross::after,
.cell.cross::before,
.board.cross .cell:not(.cross):not(.circle):hover::after,
.board.cross .cell:not(.cross):not(.circle):hover::before {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: #fff;
    position: absolute;
}

.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::after {
    transform: rotate(45deg);
}

.cell.cross::before,
.board.cross .cell:not(.cross):not(.circle):hover::before {
    transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.cross):not(.circle):hover::after,
.board.circle .cell:not(.cross):not(.circle):hover::before {
    content: '';
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
}

.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::after {
    height: calc(var(--mark-size) *.7);
    width: calc(var(--mark-size) *.7);
    background: #3b5b6c;
}
.cell.circle::before,
.board.circle .cell:not(.cross):not(.circle):hover::before {
    height: var(--mark-size);
    width: var(--mark-size);
}

.win-msg {
    background: rgba(0,0,0, .9);
    display: none;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    flex-direction: column;
}

#restartBtn {
    padding: 1rem;
    color: #3b5b6c;
    font-size: 1.22rem;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid #3b5b6c;
    background: #fff;
    font-weight: 700;
}

#restartBtn:hover {
    background: #3b5b6c;
    color: #fff;
}

.win-msg.show {
    display: flex;
}

.cat-gif {
    background-image: url(hbf.gif);
    display: block;
    background-size: 100%;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

